
<nav class="navbar navbar-static-top navbar-default" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span class="ge-logo"></span> <span>Maintenance Manager <small><i>powered by</i> GE Transportation</small></span></a>
      <!-- .navbar-toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="pull-right">
      <div class="btn-toolbar pull-left">

        <div class="btn-group">
          <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><span class="user-name">Raja Boppana</span> <i class="icon-chevron-down"></i></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
  <div class="primary-navbar nav-collapse">
    <div class="container">
      <ul class="nav navbar-nav">

        <li><a href="">Home</a></li>
		<li><a ui-sref="mtrlapp.shopcartsummary">Shopcart Summary</a></li>
      </ul>

    </div>
  </div>

</nav>