<div class="modal-header">
	<button type="button" ng-click="modalOptions.close()" class="close">
        <i class="icon-remove"></i>
    </button>
	<h3 class="modal-title"><strong>{{modalOptions.headerText}}</strong></h3>
</div>
<div class="modal-body CreateWO">
	{{modalOptions.bodyText}}
</div>
<div class="modal-footer">
	<a class="btn" ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</a>
	<input class="btn btn-primary" type="submit" ng-click="modalOptions.ok(true)" value="{{modalOptions.actionButtonText}}">
	<!-- <a class="btn btn-primary" ng-click="createDWo()">Create</a> -->
</div>